@{
    ViewData["Title"] = "About";
}
<div className='container'>
    <h4>Fair Use Act Disclaimer</h4>
    <p>
        This site is for educational purposed only. The images, content, and theme are based on IKEA's furniture website:
        <a href='https://www.ikea.com/'> ikea.com</a>
    </p>
    <br />
    <h5>Fair Use</h5>
    <p>
        Copyright Disclaimer Under Section 107 of the Copyright Act in 1976; Allowance is made for "Fair Use"
        for purposes such as criticism, comment, news reporting, teaching, scholarship, and research.
    </p>
    <p>Fair use is a use permitted by copyright statute that might otherwise be infringing.</p>
    <br />
    <h5>Fair Use Definition</h5>
    <p>
        Fair use is a doctrine in United States copyright law that allows limited use of copyrighted material
        without requiring permission from the rights holders, such as commentary, criticism, news reporting,
        research, teaching or scholarship. It provides for the legal, non-licensed citation or incorporation of
        copyrighted material in another author's work under a four-factor balancing test.
    </p>
</div>
