@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h4>About this Privacy Policy</h4>
<p>We know how important it is for you to understand how we use your personal information.<br>This Privacy Policy sets out how and why OKEA North America Services collect, store, process, and share your personal information.<br> We strive to be transparent with you about what we do with your personal information.</p>
