@{
    ViewBag.Title = "Reports";
}

<h1>Reports</h1>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Click To Access Report</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><a asp-controller="Reports" asp-action="TopItems">Get Top Items</a></td>
                <td><p>View the top three items that generate the most revenue for OKEA</p></td>
            </tr>
            <tr>
                <td><a asp-controller="Reports" asp-action="">Revenue</a></td>
                <td><p>View the total Revenue OKEA generated from a certain date range</p></td>
            </tr>
            <tr>
                <td><a asp-controller="Reports" asp-action="TopCustomers">Top Customer List</a></td>
                <td><p>View which customers spent the most money at OKEA</p></td>
            </tr>
        </tbody>
    </table>
</div>
