@model List<okeafurniture.CORE.DTOs.TopCustomerListItem>

@{
    ViewData["Title"] = "Top Customers";
}

<h1>Report</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Account Id
            </th>
            <th>
                Customer Name
            </th>
            <th>
                Email
            </th>
            <th>
                Total Spent
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @customer.AccountId
                </td>
                <td>
                    @customer.FullName
                </td>
                <td>
                    @customer.Email
                </td>
                <td>
                    $@customer.TotalSpent
                </td>
            </tr>
        }
        <a asp-action="Index">Back to Reports</a>
    </tbody>
</table>
